<div class="container">
    <div class="title">
        <p>Nombre de joueurs</p>
        <button>-</button>
        <p>4</p>
        <button>+</button>
    </div>
    <form >
        <div class="player">
            <input type="text" placeholder="joueur 1">
            <button class="color"></button>
            <img src="../assets/avatar1.svg" alt="">

        </div>
        <div class="player">
            <input type="text" placeholder="joueur 2">
            <button class="color"></button>
            <img src="../assets/avatar2.svg" alt="">

        </div>
        <div class="player">
            <input type="text" placeholder="joueur 3">
            <button class="color"></button>
            <img src="../assets/avatar3.svg" alt="">

        </div>
        <div class="player">
            <input type="text" placeholder="joueur 4">
            <button class="color"></button>
            <img src="../assets/avatar4.svg" alt="">

        </div>
        <div class="player">
            <input type="text" placeholder="joueur 5">
            <button class="color"></button>
            <img src="../assets/avatar5.svg" alt="">

        </div>
        <button class="playBtn">Jouer</button>
    </form>
    
</div>
