<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<div id="wrapper">
            
    <div id="wheel">
        <div id="inner-wheel">
            <div class="sec" data-name="bell"><span class="fa fa-bell-o"></span></div>
            <div class="sec" data-name="comment"><span class="fa fa-comment-o"></span></div>
            <div class="sec" data-name="smile"><span class="fa fa-smile-o"></span></div>
            <div class="sec" data-name="heart"><span class="fa fa-heart-o"></span></div>
            <div class="sec" data-name="star"><span class="fa fa-star-o"></span></div>
            <div class="sec" data-name="lightbulb"><span class="fa fa-lightbulb-o"></span></div>
        </div>       
       
        <div id="spin">
            <div id="inner-spin"></div>
        </div>
        
        <div id="shine"></div>
    </div>
    
    
    <div id="txt"></div>
</div>


