<section class="top">
    <div>
        <p>
            Nombre de question
        </p>
    </div>
    <select name="nbQuestion" id="nb-question">
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>


</section>

<section class="mid">
    <div>
        <h1>THEME</h1>
    </div>


    <select name="themeSelector1">
        <option value="theme1">art</option>
        <option value="theme2">sport</option>
        <option value="theme3">culture gen.</option>
        <option value="theme4">divertissement</option>
        <option value="theme5">mythologie</option>
        <option value="theme6">automobile</option>

    </select>



    <select name="themeSelector2">
        <option value="theme1">art</option>
        <option value="theme2">sport</option>
        <option value="theme3">culture gen.</option>
        <option value="theme4">divertissement</option>
        <option value="theme5">mythologie</option>
        <option value="theme6">automobile</option>
    </select>



    <select name="themeSelector3">
        <option value="theme1">art</option>
        <option value="theme2">sport</option>
        <option value="theme3">culture gen.</option>
        <option value="theme4">divertissement</option>
        <option value="theme5">mythologie</option>
        <option value="theme6">automobile</option>
    </select>



    <select name="themeSelector4">
        <option value="theme1">art</option>
        <option value="theme2">sport</option>
        <option value="theme3">culture gen.</option>
        <option value="theme4">divertissement</option>
        <option value="theme5">mythologie</option>
        <option value="theme6">automobile</option>
    </select>



    <select name="themeSelector5">
        <option value="theme1">art</option>
        <option value="theme2">sport</option>
        <option value="theme3">culture gen.</option>
        <option value="theme4">divertissement</option>
        <option value="theme5">mythologie</option>
        <option value="theme6">automobile</option>
    </select>


</section>

<section class="bot" routerLink="../">
    <!-- (click)="../home" --> 
    <input type="button"  value="Back">
</section>