
/* @media (max-width: 375px) { */

.game_component{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head{
  /* border: 1px solid lime; */
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.logo img{
  width: 120px;
}


.test {
  color: white;
}






/* } */
