
<section class="game_component">

  <div class="head">

    <div class="logo1_3">
      <div class="logo1"><img src="assets/avatar1.svg" alt="logo"><p>10</p></div>
      <div class="logo3"><img src="assets/avatar2.svg" alt="logo"><p>15</p></div>
    </div>

    <div class="logo">
      <img src="assets/logo_twister.png" alt="logo">
    </div>

    <div class="logo2_4">
      <div class="logo2"><img src="assets/avatar3.svg" alt="logo"><p>20</p></div>
      <div class="logo4"><img src="assets/avatar4.svg" alt="logo"><p>25</p></div>
    </div>

  </div>


  <div class="question">

    <div class="theme">
<p>Géographie</p>
    </div>
    <div class="question_title">

      <p>Quelle est la capitale de la France ?</p>

    </div>

  </div>

  <div id="progressBar">
    <div class="bar"></div>
  </div>

  <div class="answers">

    <div class="answer1_2">
      <div class="answer1 box">Madrid</div>
      <div class="answer2 box">Rome</div>
    </div>
    <div class="answer3_4">
      <div class="answer3 box">Paris</div>
      <div class="answer4 box">Londres</div>
    </div>
  </div>



  <div class="jokers">

    <div class="joker"><p>50/50</p></div>
    <div class="joker"><p>Twister</p></div>
    <div class="joker"><p>Skip</p></div>

  </div>




</section>
