
@media (max-width: 375px) {

.game_component{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head{
  /* border: 1px solid lime; */
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head p {
  color: var(--colorBleu);
  font-weight: bold;
  background-color: var(--colorBlanc);
  border-radius: 15px;
  text-align: center;
  min-width: 30%;
  max-width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo img{
  width: 30vw;
}

img{
  width: 20vw;
}

.logo1_3{
  display: flex;
  flex-direction: column;
}

.logo1, .logo2, .logo3, .logo4{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.question{
  position: relative;
  margin-top: 16px;
  width: 80vw;
  height: 20vh;
  background-color: var(--colorBleu)
  ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  ;
}

.theme{
  position: absolute;
  top: 0;
  color: var(--colorBleu);
  font-size: 1.3rem;
  left: calc(80vw - 75%);
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--colorBlanc);
  width: 40vw;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question_title{
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--colorBlanc);
}
.question_title p{
  display:flex;


}

#progressBar {
  width: 80vw;
  margin: 16px auto;
  height: 8px;
  background-color: #00af06;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#progressBar div {
  height: 100%;
  text-align: center;
  width: 0;
  background-color: #c9c9c9;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.answers{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer1_2{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  font-size: 1.2rem;
}

.answer3_4{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  font-size: 1.2rem;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorBlanc);
  width: 35vw;
  height: 10vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.answer1_2 .box:nth-child(1){
background-color: red;
}
.answer1_2 .box:nth-child(2){
background-color: var(--colorJaune);
}
.answer3_4 .box:nth-child(1){
background-color: var(--colorJaune);
}
.answer3_4 .box:nth-child(2){
background-color: red;
}

.jokers{
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
  width: 80vw;
}

.joker{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 7.5vh;
  border-radius: 50px;
  background-color: var(--colorBlanc);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

}
