<section class="game_component">

  <div class="head">

    <div class="logo1_3">
      <div class="logo1"><img src="assets/avatr1.svg" alt="logo"></div>
      <div class="logo3"><img src="assets/avatr2.svg" alt="logo"></div>
    </div>

    <div class="logo">
      <img src="assets/logo_twister.png" alt="logo">
    </div>

    <div class="logo2_4">
      <div class="logo2"><img src="assets/avatar3.svg" alt="logo"></div>
      <div class="logo4"><img src="assets/avatar4.svg" alt="logo"></div>
    </div>

  </div>


  <div class="question">

    <div class="theme">

    </div>
    <div class="question_title">

    </div>

  </div>

  <div id="progressBar">
    <div class="bar"></div>
  </div>

  <div class="answers">

    <div class="answer1_2">
      <div class="answer1 box"></div>
      <div class="answer2 box"></div>
    </div>
    <div class="answer3_4">
      <div class="answer3 box"></div>
      <div class="answer4 box"></div>
    </div>
  </div>



  <div class="joker">

    <div class="joker1"></div>
    <div class="joker2"></div>
    <div class="joker3"></div>

  </div>




</section>
