/* --colorJaune : #FCBD08; 
--colorBleu : #1A7279;
--colorOrange : #D5551E;
--colorCyan : #04C7D6 ;
--colorBlanc : #f0f0f0 ; */


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;

    /* margin: auto; */
}



.container form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 50px;
    margin-top: 40px;
}

.container form fieldset {
    border: 3px solid var(--colorJaune);
    padding: 10px 20px;
}
.container form legend {
    color: black;
    background-color: var(--colorJaune);
    padding: 5px;
    border-radius: 5px;
}

.container form .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

.selectContainer {
    display: flex;
    align-items: center;
    
}

.selectContainer img {
    width: 80px;
    margin-right: 20px;
}

.select {
    display: flex;
    flex-direction: column;
    
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: var(--colorBleu);
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--colorJaune);

}
.select select {
    height: 30px;
    border-radius: 5px;
    border: 2px solid var(--colorVert);
}
.inputPseudo{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
   
}
.inputField {
    display: flex;
    flex-direction: column;
    align-items: center;
    

   
}
.inputField p {
   width: 183px;
    background: rgb(255, 255, 255);
    color: red;
    border-radius: 3px;
    padding: 0 3px;
    text-align: center;
    box-sizing: border-box;
    font-size: 10px;
}

.inputPseudo input {
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px ;
    border: 2px solid var(--colorVert);
}

.player button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--colorJaune);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    color: var(--colorBlanc);
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    transition: all 0.3s;
    
    

}
.player button:hover {
    background-color: #ffb700;
}


.playBtn {
    width: 250px;
    height:50px;
    margin-top: 3vh;
    border-radius: 5px;
    background: #88CB53;
    color: var(--colorBlanc);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    cursor: pointer;
    transition: all 0.3s;
}

.playBtn:hover {
    background: #85df40;
    transition: all 0.3s;
}

button.btnValid:disabled {
    background: rgb(166, 165, 165);
    cursor: not-allowed;
}