div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: 50%;
    width: 80%;
    background-color: var(--colorBlanc);
    border-radius: 15px;
    padding: 15px;
}
