.container {
    width: 100%;
    height: 100%;
    /* background-color: var(--colorJaune);  */
    /*backrgound 1joueur*/
}
.header {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
}

/****Les joueurs*****/
.joueur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.avatar {
    width: 15%;
}

.txt_score {
    text-align: center;
    font-size: 0.8rem;
    background-color: antiquewhite;
    padding: 5px 15px;
    border-radius: 5px 10px;
}


/*******Confettis*******/
.main {
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bravo {
    text-transform: uppercase;
    font-size: 2.5rem;
    /*texte clignottant*/
    animation-duration: 5s;
    animation-name: clignote;
    animation-iteration-count: infinite;
    transition: ease-out;
    /*degradé texte*/
    background: linear-gradient(100deg, #d6680e 0%, #1e65ff 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes clignote {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/******** boutons ***************/
.footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

/* btn1 terminer */
.boutons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    text-decoration: none;
    padding: 15px 20px;
    transition: 2s ease-in;
    font-size: 1rem;
    font-family: 'Crimson Text', serif;
}

/* btn jouer*/
.btn2 {
    position: relative;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 5px;
    transition: 2s ease-in;
    font-size: 1rem;
    color: antiquewhite;

}
.btn2:hover {
    background-color: var(--colorBleu);  
}

.btn2 .linemoove {
    position: absolute;
}

.btn2 .linemoove:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, yellow, var(--colorBleu));
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%
    }

    100% {
        left: 100%
    }
}

.btn2 .linemoove:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, var(--colorBleu), rgb(14, 211, 96));
    animation: animate2 2s linear infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%
    }

    100% {
        top: 100%
    }
}

.btn2 .linemoove:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, yellow, rgb(223, 31, 159));
    animation: animate3 2s linear infinite;
    animation-delay: .50s;
}

@keyframes animate3 {
    0% {
        right: -100%
    }

    100% {
        right: 100%
    }
}

.btn2 .linemoove:nth-child(4) {
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,var(--colorBleu), rgb(25, 204, 9));
    animation: animate4 2s linear infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    }
}

/********** 2joueurs*************/
/* .triangle {
    border-top: 100vh solid var(--colorJaune);
    border-right: 56vh solid var(--colorBleu);
}  */

/*3players*/
/* .trapeze{
    width:100%;
	height:500%;
	border:1px solid var(--colorOrange);
	border-color:var(--colorJaune) transparent transparent var(--colorOrange);
	border-width:100px;
    
} */