<!-- 1joueur -->
<div class="container">
    <div class="lot">
        <div class="joueur">
            <img class="avatar" src="assets/avatar1.svg" alt="avatar1">
        </div>

        <div class="resultat">
            <p class="bravo"> Bravo </p>
        </div>
        <p>Score : _ _ _</p>
        <div class="container_buttom">
            <button class="terminer">Terminer</button> 
            <button class="jouer">Jouer</button>
        </div>
    </div>
</div>


<!-- 2 joueurs -->

<!-- <div class="triangle">
    <div class="joueur1">
        <img class="avatar" src="assets/avatar1.svg" alt="avatar1">
        <p>Score : _ _ _ </p>
    </div>
    <div class="joueur2">
        <img class="avatar" src="assets/avatar2.svg" alt="avatar1">
        <p>Score : _ _ _ </p>
    </div>
</div> -->


<script>
    confetti()
</script>