    <div class="container">
    <div class="header">
        <!-- mode 1 joueur -->
        <div class="joueur">
            <img class="avatar" src="assets/avatar1.svg" alt="avatar1">
            <p class="txt_score">Score : _ _ _ _</p>
        </div>

        <!-- mode 2 joueurs -->
        
 
    </div>
    <div class="main">
        <p class="bravo"> Bravo </p>
    </div>

    <div class="footer">
        <div class="boutons">
            <!-- <div class="btn btn1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Terminer
            </div> -->
            <div class="btn btn2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Jouer
            </div>
        </div>
    </div>
</div>