/* You can add global styles to this file, and also import other style files */
:root{
--colorJaune : #f2ab09; 
--colorBleu : #0798b1;
--colorOrange : #d8230a;
--colorVert :#88CB53 ;
--colorBlanc : #f1e9d4 ;



}

/* body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-image: url("assets/fond.svg"); 
   
} */

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background-image: url("src/assets/fond.svg");
    background-repeat: no-repeat;
    background-size: cover; */
}


