html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* You can add global styles to this file, and also import other style files */
:root {
	--colorJaune: #f2ab09;
	--colorBleu: #0798b1;
	--colorOrange: #d8230a;
	--colorVert: #88cb53;
    --colortPink: #f05dd0;
	--font-color: #f1e9d4;
	--colorBlanc: #f1e9d4;
	--border-radius: 15px
}

body {
	overflow: hidden;
	max-width: 375px;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 20px;
	background: url("./assets/background.png") no-repeat center/cover;
	box-sizing: border-box;
}

/* btn final */
/* btn jouer*/
.btn2 {
    position: relative;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 5px;
    transition: 2s ease-in;
    font-size: 1rem;
    color: antiquewhite;

}
.btn2:hover {
    background-color: var(--colorBleu);  
}

.btn2 .linemoove {
    position: absolute;
}

.btn2 .linemoove:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: linear-gradient(90deg, rgb(228, 24, 235), var(--colorBleu));
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%
    }

    100% {
        left: 100%
    }
}

.btn2 .linemoove:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, var(--colorBleu), rgb(14, 211, 96));
    animation: animate2 2s linear infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%
    }

    100% {
        top: 100%
    }
}

.btn2 .linemoove:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, yellow, rgb(223, 31, 159));
    animation: animate3 2s linear infinite;
    animation-delay: .50s;
}

@keyframes animate3 {
    0% {
        right: -100%
    }

    100% {
        right: 100%
    }
}

.btn2 .linemoove:nth-child(4) {
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,var(--colorBleu), rgb(25, 204, 9));
    animation: animate4 2s linear infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    }
}