body{
    margin:0px;
}
.containerHome{
display: flex;
flex-direction: column;
justify-content: center;
margin-right: 25px;
top:1px;


}

.logo{
    /* position:relative; */
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
.btnHomes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
.btnJouer {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: var(--colorJaune);
    color:white;
    font-size: 20px;
    cursor: grab;
}
.btnRegles{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    margin-top: 80px;
    background-color: var(--colorOrange);
    color:white;
    font-size: 20px;
    cursor: grab;
}
.btnParametres{
    height: 25px;
    width:125px;
    border-radius: 10px;
    margin-top: 25px;
    position: center;
    background-color: var(--colorBleu);
    color:white;
    font-size: 12px;
    cursor: grab;


}
