.containerHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    /* position:relative; */
    max-width: 75vw;
    max-height: 50vh;
    display: block;
    margin:0 auto;
   
}

.btnHomes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.btnRegles,
.btnJouer {
    height: 8vh;
    width: 75vw;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: grab;
}

.btnJouer {
    background-color: var(--colorJaune);
}

.btnRegles {
    background-color: var(--colorOrange);
}

.btnParametres {
    height: 3vh;
    width: 40vw;
    border-radius: 10px;
    position: center;
    background-color: var(--colorBleu);
    color: white;
    font-size: 12px;
    cursor: grab;
}